{% extends 'base.html'%} {% import 'bootstrap/wtf.html' as wtf%} {% block head %} {% block styles %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> {{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}"> {% endblock%} {% endblock%} {% block content %}
<div class="container">
    <div class="card text-center">
        <div class="card-body bg-info">
            <p style="font-weight: bold;font-size: 24px;">Bio Form</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="card" id="update">
                {{wtf.quick_form(form)}}
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
{% endblock %}